<p><strong>About the Author</strong></p>
<p><em>{{ author }}</em></p>
<img src="https://res.cloudinary.com/dibnwiivf/image/upload/f_auto,q_auto,w_150,h_150,c_thumb,r_max,d_avatar2.png/v1585670487/jamstack-blog/{{ author | sanitize }}.jpg">
<p>Мега мазният маняк</p>

