---
layout: layouts/base.njk
---

{{ content | safe }}
<!-- author -->
<hr>
<div style="text-align: center;">
    {% include 'layouts/author.njk' %}
  </div>
<hr>
<div style="text-align: center;">
    <p><a href="{{ '/' | url }}"> Home </a></p>
</div>